<div id="page">
	<h1>Project name</h1>
	<div id="inputs_area">
		
	</div>
	<input type="text" id="hidden_input" />
	
	<input type="button" value="Save" id="save_button" />
</div>


<script>

	function read_keypress(event) {
		switch (event.which) {
			case 38: move_caret_up(event); break;
			case 40: move_caret_down(event); break;
		}
	}

	fetch_tasks();
	
	
	function move_caret_up (event) {
		task_row = $(event.target).parent();
		
		if ($(event.target).hasClass('task')) {
			task_row.prev().children().first().focus();
		} else if ($(event.target).hasClass('employee')) {
			task_row.prev().children().first().next().focus();
		} else if ($(event.target).hasClass('deadline')) {
			task_row.prev().children().first().next().next().focus();
		}
	
	} 
	
	function move_caret_down (event) {
		task_row = $(event.target).parent();
		
		if ($(event.target).hasClass('task')) {
			task_row.next().children().first().focus();
		} else if ($(event.target).hasClass('employee')) {
			task_row.next().children().first().next().focus();
		} else if ($(event.target).hasClass('deadline')) {
			task_row.next().children().first().next().next().focus();
		}
	
	} 
	
	
	$('#save_button').click(function() {
		
		var tasks = {tasks: []};
		
		$('.inputs_row').each(function() {
			task = {"id":$(this).attr('task_id'), "description":$(this).find('.task').val(), "employee": $(this).find('.employee').val(), "deadline":$(this).find('.deadline').val()}
			tasks.tasks.push(task);
		});
		
		$.ajax({
        	url: '/save_tasks',
          	type: "POST",
          	data: {tasks:JSON.stringify(tasks)},
          	dataType: "json",
          	beforeSend: function(x) {
            	if (x && x.overrideMimeType) {
              		x.overrideMimeType("application/j-son;charset=UTF-8");
            	}
          	},
          	success: function(result) {
 	     		
          	}
		});
	});
	
	function fetch_tasks() {
		var tasks;
		$.ajax({
			url: "/fetch_tasks",
			cache: false,
			success: function(response_json) {
				tasks = response_json;
				
				var area = $('#inputs_area');
		
				$.each(tasks, function() {
				var date = new Date(this.deadline);
				
				html = '\
				<div class="inputs_row" task_id=' + this.id + ' >\
					<input type="text" class="task area" value= "' + this.description + '" onkeydown="read_keypress(event)"  />\
					<input type="text" size="10" class="employee area" value= "' + this.employee + '" onkeydown="read_keypress(event)" />\
					<input type="text" size="7" class="deadline area" value= "' + formatDate(date) + '" onkeydown="read_keypress(event)" />\
				</div>\
				';
			
				area.append(html);
			
				});
				
				$(".deadline").datepicker();
				$(".task").autoResize({
					maxWidth: 798
				});
				$(".deadline").keypress(function(event) {
  					if ( event.which == 13 ) {
     					add_new_line($(event.target).parent().attr('task_id'));
     				}
     			});
			}
		});
		

		
	}
	
	function formatDate(value) {
		var month = "";
		
		if ((value.getMonth()+1) < 10) {
			month = "0" + (value.getMonth()+1);
		} else { 
			month = value.getMonth()+1;
		}
		
		return  value.getDate() + "." + month + "." + value.getFullYear();
	}
	
	
	$(".task").first().focus();
	
	$(".deadline").keypress(function() {
		add_new_line();
	});
	
	function add_new_line(id) {
		
		$(".inputs_row[task_id='" + id + "']").after('<div class="inputs_row" id=new_task>\
			<input type="text" class="task area" onkeydown="read_keypress(event)" />\
			<input type="text" size="10" class="employee area" onkeydown="read_keypress(event)" />\
			<input type="text" size="7" class="deadline area" onkeydown="read_keypress(event)" />\
		</div>');
		
		$.ajax({
        	url: '/fetch_new_task_id',
        	cache: false,
          	success: function(id) {
          		$('#new_task').attr('task_id', id);
          		$('#new_task').children().first().focus();
 	     		$('#new_task').removeAttr('id');
          	}
		});
		
		$(".task").autoResize({
			maxWidth: 798
		});
		
		$(".deadline").datepicker();
		
		$(".deadline").keypress(function(event) {
			if ( event.which == 13 ) {
				add_new_line($(event.target).parent().attr('task_id'));
			}
		});
		
	}
	
	$(".task").autoResize({
		maxWidth: 798
	});
	
	$(".deadline").datepicker();
	
	$("#hidden_input").focusin(function() {
		alert("Hidden hit!");
		$(".task").first().focus();
	});
	
	function fetch_new_task_id() {
		
		
		
		return new_id;
	}
	
</script>

<style>

input:focus {
	outline: none;
}

.task {
	
}

.area {
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 3px;
}

#page {
	width: 800px;
	height: 600px;
	border: solid 1px black;
	margin:auto;
	
}

#page h1 {
	text-align: center;
}

#hidden_input {
	background: white;
	border: 0px;
}

#inputs_area {
	border: 1px solid black;
}

.employee {
	font-weight: bold;
}

.deadline {
	font-style: italic;
}
</style>
