<div id="page">
	<h1>Project name</h1>
	
	<div id="inputs_area">
		<div class="inputs_row">
			<input type="text" class="task area" />
			<input type="text" size="10" class="employee area" />
			<input type="text" size="7" class="deadline area" />
		</div>
	</div>
	
	<input type="text" id="hidden_input" />
</div>



<script>
	
	$(".task").first().focus();
	
	$(".deadline").keypress(function() {
		add_new_line();
	});
	
	function add_new_line() {
		$("#inputs_area").append('<div class="inputs_row">\
			<input type="text" class="task area" />\
			<input type="text" size="10" class="employee area" />\
			<input type="text" size="7" class="deadline area" />\
		</div>');
		
		$(".task").autoResize({
			maxWidth: 798
		});
		
		$(".deadline").datepicker();
		
		$(".deadline").keypress(function() {
			add_new_line();
		});
		
	}
	
	$(".task").autoResize({
		maxWidth: 798
	});
	
	$(".deadline").datepicker();
	
	$("#hidden_input").focusin(function() {
		alert("Hidden hit!");
		$(".task").first().focus();
	});
	
</script>

<style>

input:focus {
	outline: none;
}

.task {
	
}

.area {
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 3px;
}

#page {
	width: 800px;
	height: 600px;
	border: solid 1px black;
	margin:auto;
	
}

#page h1 {
	text-align: center;
}

#hidden_input {
	background: white;
	border: 0px;
}

#inputs_area {
	border: 1px solid black;
}

.employee {
	font-weight: bold;
}

.deadline {
	font-style: italic;
}
</style>
