<div id="page">
	<h1>Project name</h1>
	
	<div id="inputs_area" task_id="1">
		<div class="inputs_row">
			<input type="text" class="task area" />
			<input type="text" size="10" class="employee area" />
			<input type="text" size="7" class="deadline area" />
		</div>
	</div>
	
	<input type="text" id="hidden_input" />
</div>



<script>

	fetch_tasks();
	
	function fetch_tasks() {
		var tasks;
		$.ajax({
			url: "/fetch_tasks",
			cache: false,
			success: function(response_json) {
				tasks = response_json;
				
				var area = $('#inputs_area');
		
				$.each(tasks, function() {
				var date = new Date(this.deadline);
				
				html = '\
				<div class="inputs_row" task_id=' + this.id + ' >\
					<input type="text" class="task area" value= "' + this.description + '" />\
					<input type="text" size="10" class="employee area" value= "' + this.employee + '" />\
					<input type="text" size="7" class="deadline area" value= "' + formatDate(date) + '" />\
				</div>\
				';
			
				area.append(html);
			
				});
				
				$(".deadline").datepicker();
			}
		});
		

		
	}
	
	function formatDate(value) {
		var month = "";
		
		if ((value.getMonth()+1) < 10) {
			month = "0" + (value.getMonth()+1);
		} else { 
			month = value.getMonth()+1;
		}
		
		return  value.getDate() + "." + month + "." + value.getFullYear();
	}
	
	
	$(".task").first().focus();
	
	$(".deadline").keypress(function() {
		add_new_line();
	});
	
	function add_new_line() {
		$("#inputs_area").append('<div class="inputs_row">\
			<input type="text" class="task area" />\
			<input type="text" size="10" class="employee area" />\
			<input type="text" size="7" class="deadline area" />\
		</div>');
		
		$(".task").autoResize({
			maxWidth: 798
		});
		
		$(".deadline").datepicker();
		
		$(".deadline").keypress(function() {
			add_new_line();
		});
		
	}
	
	$(".task").autoResize({
		maxWidth: 798
	});
	
	$(".deadline").datepicker();
	
	$("#hidden_input").focusin(function() {
		alert("Hidden hit!");
		$(".task").first().focus();
	});
	
</script>

<style>

input:focus {
	outline: none;
}

.task {
	
}

.area {
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 3px;
}

#page {
	width: 800px;
	height: 600px;
	border: solid 1px black;
	margin:auto;
	
}

#page h1 {
	text-align: center;
}

#hidden_input {
	background: white;
	border: 0px;
}

#inputs_area {
	border: 1px solid black;
}

.employee {
	font-weight: bold;
}

.deadline {
	font-style: italic;
}
</style>
