/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#page {
	width: 800px;
	height: 600px;
	border: solid 1px black;
	margin:auto;
	
}

#page h1 {
	text-align: center;
}

#hidden_input {
	background: white;
	border: 0px;
}

textarea {
	width: 780px;
	height: 200px;
	margin:auto;
	
	display: block;
}

#show_area {
	border: solid 1px black;
	
	width: 780px;
	height: 200px;
	margin:auto;
}

.employee {
	font-weight: bold;
}

.deadline {
	font-style: italic;
}
